<%- include('./partials/header') %>

<div class="w-full h-screen flex items-start px-20 py-20">
  <div class="w-[25%] flex h-screen flex-col items-start">
    <div class="flex items-center gap-2">
      <h3>Sort by</h3>
      <form action="/shop">
        <select class="border-[1px] px-2 py-1" name="sortby" id="">
          <option value="popular">Popular</option>
          <option value="newest">Newest</option>
        </select>
      </form>
    </div>
    <div class="flex flex-col mt-20">
      <a class="block w-fit mb-2" href="">New Collection</a>
      <a class="block w-fit mb-2" href="">All Products</a>
      <a class="block w-fit mb-2" href="">Discounted Products</a>
    </div>
    <div class="mt-32">
      <a class="block w-fit mb-2" href="">Filter by :</a>
      <a class="block w-fit mb-2" href="">Availability</a>
      <a class="block w-fit mb-2" href="">Discount</a>
    </div>
  </div>

  <div class="w-[75%] flex flex-col gap-5 h-screen">
    <div class="grid grid-cols-3 gap-5">
      <% if(products.length > 0 ){ %> <% products.forEach((product) => { %>
      <div class="border rounded-lg shadow-lg p-4">
        <div
          class="w-full h-48 overflow-hidden bg-[<% product.bgcolor %>] flex justify-center items-center"
        >
          <img
            src="data:<%= product.image.mimetype %>;base64,<%= product.image.data.toString('base64') %>"
            alt="<%= product.name %>"
            class="object-cover h-full"
          />
        </div>
        <div class="p-4 bg-[<%= product.panelcolor %>]">
          <h3
            class="text-xl font-semibold mb-2 text-[<%= product.textcolor %>]"
          >
            <%= product.name %>
          </h3>
          <p class="text-gray-500 mb-1">SKU: <%= product.sku %></p>
          <p class="text-gray-800 mb-1">
            <span class="font-bold text-lg">$<%= product.price %></span>
            <% if (product.discount) { %>
            <span class="text-red-500 line-through"
              >$<%= product.discount %></span
            >
            <% } %>
          </p>
          <button
            class="mt-3 px-4 py-2 bg-blue-500 text-white rounded hover:bg-blue-600"
          >
            Add to Cart
          </button>
        </div>
      </div>
      <% }) %> <% } else { %>
      <p>No products available.</p>
      <% } %>
    </div>
  </div>
</div>

<%- include('./partials/footer') %>
